* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none; /* Standard syntax */
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 4px;
    padding: 5px;
}

#window {
    grid-column: 1;
    grid-row: 1;
    background-color: azure;
    min-width: 0;
    min-height: 0;
    display: inline-block;
}

#editor {
    grid-column: 2;
    grid-row: 1/span 2;
}

#sprites {
    grid-column: 1;
    grid-row: 2;
}

.section {
    width: 100%;
    height: 100%;
}

#editor {
    display: flex;
    flex-flow: column;
}

#editor-navbar {
    display: flex;
    margin: 0;
    padding: 0;
}

#editor-navbar > a {
    padding: 4px 10px;
    background-color: whitesmoke;
    border-width: 1px 1px 0px 1px;
    border-color: lightgray;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition-duration: 200ms;
}

#editor-navbar > a:hover:not(.editor-selected) {
    background-color: lightgray;
    border-color: lightgray;
}

#editor-navbar > a:hover {
    cursor: pointer;
}


#editor-navbar > .editor-selected {
    background-color: lightgray;
    border-color: gray;
}

#editor-navbar > a:nth-child(3) {
    margin-left: auto;
}

#editor-navbar > a:nth-child(1) {
    color: green;
}
#editor-navbar > a:nth-child(2) {
    color: red;
}

#editor-wrapper {
    background-color: lightgray;
    flex: 1;
    padding:3px;
}

#editor-scripts {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 1fr;
    column-gap: 4px;
}

#script-selector {
    height: 100%;
    background-color: whitesmoke;
    width: 180px;
    padding: 2px 0px 0px 0px;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    border-style: solid;
    display: flex;
    flex-flow: column;
}

#script-block-list {
    overflow: scroll;
    padding: 4px 0px 4px 4px;
}

#script-block-list > div {
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: start;
}

#script-selector-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 4px 4px;
    row-gap: 2px;
    column-gap: 4px;
    
    border-width: 0;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
}

#script-selector-table > a {
    display: flex;
    gap: 3px;
    cursor: pointer;
}

#script-selector-table > a > span:nth-child(1) {
    width: 6px;
}

#script-selector-table > a > span:nth-child(2) {
    padding: 1px 0px;
    font-size: 13px;
}

#script-selector-table > a:not(.editor-selected):hover > span:nth-child(2) {
    color: goldenrod;
}

#script-selector-table > a.editor-selected > span:nth-child(2) {
    color: white;
}

#editor-wrapper > div:not(.editor-selected) {
    display: none;
}

#script-block-list > div:not(.editor-selected) {
    display: none;
}

#script-dragspace > .active {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    border-style: solid;
    position: relative;
    overflow: scroll;
    scrollbar-gutter: stable;
} 

#script-dragspace > *:not(.active) {
    display: none;
}

#script-dragspace > .active::-webkit-scrollbar-track, #script-block-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#script-dragspace > .active::-webkit-scrollbar, #script-block-list::-webkit-scrollbar
{
    height: 8px;
	width: 8px;
	background-color: #F5F5F5;
}

#script-dragspace > .active::-webkit-scrollbar-thumb, #script-block-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.draggable > .dropzone {
    /* border: 1px solid black; */
    width: calc(100% + 10px);
    height: 15px;
    position: absolute;
    left:-5px;
    bottom: -10px;
}

.block-container > div.inside-container > .dropzone {
    width: calc(100% - 5px);
    height: 15px;
    position: absolute;
    left:0px;
    top: 0px;
}

.dropzone:not(:last-child) {
    display: none;
}

/* #script-block-list > div > *, #script-dragspace > .active > div, .draggable > .draggable */
.draggable {
    /* global block class */
    /* min-width: 100px;
    min-height: 30px; */
    flex-flow: column;
    display: flex;
    width: max-content;
    align-items:baseline;
    /* outline: 2px solid rgba(0,0,0, 0.25); */
}

#script-block-list > div > * {
    /* class in block selector */
    flex: 0 0 auto;
}

#script-dragspace > .active > div {
    /* class in block dragspace */
    position: absolute;
}

.draggable > .draggable {
    /*class for block in block */
    position: relative; /* TEMP */
}

.draggable > div:first-child {
    padding: 3px;
    height: 100%;
    /* width: 100%; */
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.draggable > div:first-child > * {
    flex: 0 0 auto;
}

.draggable > div:first-child > span > .draggable {
    position: static;
    border-radius: 10px;
    outline: 1px solid rgba(0,0,0, 0.25);
}

.dragspace-dragenter {
    background-color: whitesmoke !important; /*doesnt do anything atm*/
}

.dropzone-dragenter {
    background-color: rgba(0, 0, 0, 0.326) !important;
}

.editable {
    margin: 0 3px;
}

.editable:not(:has(:first-child)) { /* empty */
    background-color: white;
    min-width: 17px;
    color:black;
    padding: 1px 2px;
    font-size: 14px;
    border-radius: 6px;
}

.block-int > div:first-child {
    border-radius: 10px;
}

#sprites {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#sprites > div {
    width: 85px;
    height: 85px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    border: gray 2px solid;
    cursor: pointer;
}

#sprites > div > div {
    width: 80px;
    height: 68px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sprites > div > div > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#sprites > div > p {
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sprites > div.selected {
    border: #0088ff 3px solid;
} 

.block-container > div.inside-container::before {
    content:"";
    background-color: #FF9900;
    position: absolute;
    width: 50px;
    height: 14px;
    top: calc(100% + 1px);
    left: -15px;
    /* border-bottom: 1px #AA6600 solid; */
    box-shadow: 0px -1px 0px 0px #AA6600
}

.block-container > div.inside-container::after {
    width: 14px;
    height: calc(100% + 2px);
    left: -15px;
    top: -1px;
    position: absolute;
    content:"";
    background-color: #FF9900;
    box-shadow: 1px 0px 0px 0px #AA6600
}

.block-container > div:first-child {
    box-shadow: 0px 1px 0px 0px #AA6600;
    min-width: 50px;
}

/* .inside-container > .draggable {
    border-left: 1px #AA6600 solid;
} */

.block-container > div.inside-container{
    margin-top: 1px;
    min-height: 15px;
    min-width: 100%;
    margin-bottom: 15px;
    position: relative;
    left:15px;
    background-color: transparent;
}